<div	class="card-content">
	<div	class="card-img">
		<img	src="{{libro.tapaURL}}"	alt="">
		<span><h4>&#9733; {{libro.calificacion}}</h4></span>
		<span *ngIf="libro.tieneLikes()">
			<h4> &#9733; {{libro.calificacion}} &#x1F44D; {{libro.megusta}} / {{libro.nomegusta}} &#128078;</h4>
		</span>
	</div>
	<div	class="card-desc">
		<h2 style="text-align: right;">#{{indice}}</h2>
		<h3>{{libro.titulo}}</h3>
		<h2>{{libro.autor}}</h2>
		<h1>{{libro.editorial}}</h1>
		<h1>{{libro.paginas}} páginas</h1>
		<h1>Encuadernación</h1>
		<ul>
			<li *ngFor="let e of libro.encuadernacion">
				<span [ngSwitch]="e">
					<i *ngSwitchCase="tapa dura">{{e}}</i>
					<i *ngSwitchDefault style="color: darkgray">{{e}}</i>
				</span>
			</li>
		</ul>
		<p>Aqui debe ir una reseña breve del libro. Aqui debe ir una reseña breve del libro. Aqui debe ir una reseña breve del libro. Aqui debe ir una reseña breve del libro. </p>
		<button type="button" class="btn btn-primary btn-lg btn-block" (click)="votar(true)"> &#128077;</button>
		<button type="button" class="btn btn-secondary btn-lg btn-block"(click)="votar(false)"> &#128077;</button>
	</div>
</div>
