<form
    [formGroup]="fg"
    (ngSubmit)="guardar(fg.controls['titulo'].value,
                        fg.controls['autor'].value,
                        fg.controls['editorial'].value,
                        fg.controls['paginas'].value,
                        fg.controls['estrellas'].value,
                        fg.controls['tapaUrl'].value)">
    <div	class="form-group">
        <label	for="titulo">Título</label>
        <input	type="text"	class="form-control"	id="titulo"	placeholder="Ingresar	
título..." [formControl]="fg.controls['titulo']">
        <div *ngIf="fg.controls['titulo'].hasError('minLongTitulo')">Titulo muy corto! (+ de {{lTitulo}})</div>
    </div>
    <div	class="form-group">
        <label	for="autor">Autor</label>
        <input	type="text"	class="form-control"	id="autor"	placeholder="Ingresar	
autor..." [formControl]="fg.controls['autor']">
    </div>
    <div	class="form-group">
        <label	for="editorial">Editorial</label>
        <input	type="text"	class="form-control"	id="editorial"	placeholder="Ingresar	
editorial..." [formControl]="fg.controls['editorial']">
    </div>
    <div	class="form-group">
        <label	for="paginas">Cant. Páginas</label>
        <input	type="text"	class="form-control"	id="paginas"	placeholder="Ingresar	
cantidad de páginas..." [formControl]="fg.controls['paginas']">
    </div>

    <div	class="form-group">
        <label	for="calif">Calificacion</label>
        <input	type="text"	class="form-control"	id="stars"	placeholder="Ingresar	
calificacion (1-10)..." [formControl]="fg.controls['estrellas']">
    </div>
    <div	class="form-group">
        <label	for="Imagen	Url">Url Tapa</label>
        <input	type="text"	class="form-control"	id="imagen"	placeholder="Ingresar url de la imagen..." [formControl]="fg.controls['tapaUrl']">
    </div>
    <button	type="submit"	class="btn	btn-primary" *ngIf="fg.valid">Guardar!</button>
</form>
