<div	class="container	content">
	<div	class="row">
		<div	class="col-md-6	offset-md-3">
			<span	class="anchor"	id="formLogin"></span>
			<!-- form	card	login	with	validation	feedback	-->
			<div	class="card	card-outline-secondary">
				<div	class="card-header">
					<h3	class="mb-0">Biblioteca</h3>
				</div>
				<div	class="card-body">
					<app-form-libro (onItemAdded)="agregado($event)"></app-form-libro>
				</div>
			</div>
		</div>
	</div>
		<hr	class="mb-5">
	<div	class="row row-flex">
		<app-libro 
		*ngFor="let l of librosApiClient.getAll(); let i=index" 
		[libro]="l"
		[indice]="i"
		(hanvotado) = "contarvoto($event.event,$event.thumbsup)"
		></app-libro>
<!-- 		<app-libro 
		*ngFor="let l of libros" 
		[libro]="l"
		(hanvotado) = "contarvoto($event)"
		></app-libro> -->

	</div>
</div>


